
<h1>Documentation</h1>
This is all the full on documentation for Roblox File Handler

<h1>Table Of Contents</h1>

* [Classes](#classes)
    {{#classes}}
    * [**`{{longname}}`**](#{{id}})
    {{/classes}}
* [Enums](#enums)
    {{#identifiers kind="enums"}}
    * [**`{{longname}}`**](#{{id}})
    {{/identifiers}}

<h1>API</h1>

<h2 id="classes"> Classes </h1>

{{#classes}}

<h3 id="{{id}}"> {{name}} </h3>

{{#if description}}

<h4> Description </h4>
{{description}}
{{/if}}

<h4> Fields </h4>

{{#identifiers kind="member" memberof=longname}}
* **{{name}} ({{#each type.names}} `{{this}}`{{/each}} )** {{#if description}} — {{description}} {{/if}}
{{/identifiers}}
 
<h4> Methods </h4>

{{#functions memberof=longname}}
**`{{name}}({{#each params}} {{this.name}} {{/each}})`:** {{#if returns}}{{#each returns}}{{#each this.type.names}} *`{{this}}`* {{/each}}{{/each}}{{else}} *`Void`* {{/if}}

<small>
{{! Convert the markdown to valid html}}

{{#markdown}}

{{#if description}}

{{description}}
{{/if}}

{{#if scope}}

**scope**: *{{scope}}*
{{/if}}

{{#each params}} 
* `{{this.name}}` ({{#each this.type.names}} *`{{this}}`* {{/each}}) {{#if description }} — {{this.description}} {{/if}}
{{/each}}

**Returns** {{#if returns}}{{#each returns}}{{#each this.type.names}} {{this}}`* {{/each}}{{/each}}{{else}} *`Void`* {{/if}}

{{/markdown}}
</small>

{{/functions}}
 
{{/classes}}

<h2 id='enums'>Enums</h2>

{{#identifiers kind="enum"}}

<h3 id={{id}}><stong><code>{{longname}}</code></stong></h3>

{{description}}

<h4>Properties</h4>

| Name | Type | Value | Description |
| :---: | :---: | :---: | :---: |
{{#each properties}}
| {{name}} | {{#each names}} *`{{this}}`* {{/each}} | {{defaultvalue}} | {{description}} |
{{/each}}

{{/identifiers}}
