<h1>Documentation</h1>
This is all the full on documentation for Roblox File Handler

<h1>Table Of Contents</h1>

* [Globle Functions](#functions)
    {{#functions scope="global"}}
    {{#expif access '!==' 'private'}}
    * [**`{{name}}:({{#each params}} {{this.name}} {{/each}})`**](#{{id}}): {{#if returns}}{{#each returns}}{{#each this.type.names}} ***`{{this}}`*** {{/each}}{{/each}}{{else}} ***`Void`*** {{/if}} {{#each customTags}}{{#expif tag '==' 'shortdescription'}}*— {{value}}*{{/expif}}{{/each}}
    {{/expif}}
    {{/functions}}
* [Classes](#classes)
    {{#classes}}
    {{#expif access '!==' 'private'}}
    * [**`{{name}}`**](#{{id}}) {{#each customTags}}{{#expif tag '==' 'shortdescription'}}*— {{value}}*{{/expif}}{{/each}}
    {{/expif}}
    {{/classes}}
* [Enums](#enums)
    {{#identifiers kind='enum'}}
    {{#expif access '!==' 'private'}}
    * [**`{{name}}`**](#{{id}}) {{#each customTags}}{{#expif tag '==' 'shortdescription'}}*— {{value}}*{{/expif}}{{/each}}
    {{/expif}}
    {{/identifiers}}
    
# API

## Globle Function <a id="functions" />

{{#functions scope="global"}}
{{#expif access '!==' 'private'}}
### **`{{name}}:({{#each params}} {{this.name}} {{/each}})`** <a id="{{id}}"></a>

{{#if description}}

{{description}}

{{/if}}

{{#if scope}}
**scope**: *{{scope}}*
{{/if}}

{{#each params}} 
* `{{this.name}}` {{#if this.type.names}}({{#each this.type.names}} *`{{this}}`* {{/each}}{{/if}}) {{#if description}}*— {{description}}*{{/if}} {{#if optional}}***(Optional)***{{/if}}
{{/each}}

**Returns:** {{#if returns}}{{#each returns}}{{#each this.type.names}} *`{{this}}`* {{/each}}{{/each}}{{else}} *`Void`* {{/if}}
_________________

{{/expif}}
{{/functions}}

## Classes <a id="classes" />

{{#classes}}
{{#expif access '!==' 'private'}}
### {{name}} <a id="{{id}}" />

{{#if description}}

<h4> Description </h4>
{{description}}
{{/if}}

<h4> Fields </h4>

{{#identifiers kind='member' memberof=longname}}
{{#expif access '!==' 'private'}}
* **{{name}} ({{#each type.names}} `{{this}}`{{/each}} )** {{#each customTags}}{{#expif tag '==' 'shortdescription'}}*— {{value}}*{{/expif}}{{/each}}
{{/expif}}
{{/identifiers}}

{{! Check if the metheds exist}}
{{#functions memberof=longname}}{{assign 'methodsExist' ../longname }}{{/functions}}

{{! Run only if it dose}}
{{#if @root.methodsExist}}
{{#expif @root.methodsExist '==' longname}}
<h4> Methods </h4>

{{#functions memberof=longname}}
{{#expif access '!==' 'private'}}
**`{{name}}({{#each params}} {{this.name}} {{/each}})`:** {{#if returns}}{{#each returns}}{{#each this.type.names}} *`{{this}}`*{{/each}}{{/each}}{{else}} *`Void`*{{/if}} ({{#each customTags}}{{#expif tag '==' 'shortdescription'}}{{value}}{{/expif}}{{/each}})

<small>
{{#if description}}

{{#markdown}}
{{description}}
{{/markdown}}

{{/if}}

{{#if scope}}
<p><b>scope:</b> <em>{{scope}}</em></p>
{{/if}}

{{#each params}} 
<code>{{this.name}}</code> {{#if this.type.names}}({{#each this.type.names}} <b><code>{{this}}</code></b> {{/each}}{{/if}}) {{#if description}} <b>— {{description}}</b>{{/if}} {{#if optional}} <b><em>(Optional)</em></b> {{/if}}
{{/each}}

<ul>
{{#each params}} 
<li> <code>{{this.name}}</code> {{#if this.type.names}}({{#each this.type.names}} <b><code>{{this}}</code></b> {{/each}}{{/if}}) {{#if description}} <b>— {{description}}</b>{{/if}} {{#if optional}} <b><em>(Optional)</em></b> {{/if}}</li>
{{/each}}
</ul>

<b>Returns:</b> {{#if returns}}{{#each returns}}{{#each this.type.names}} <em><code>{{this}}</code></em> {{/each}}{{/each}}{{else}} <em><code>Void</em></code> {{/if}}

</small>

_________________

{{/expif}}
{{/functions}}
{{/expif}}
{{/if}}

_________________

{{/expif}}
{{/classes}}

_________________

### Enums <a id="enums" />

{{#identifiers kind='enum'}}
{{#expif access '!==' 'private'}}
### **`{{name}}`** <a id="{{id}}"></a>

{{description}}

<h4>Properties</h4>

| Name | Type | Value | Description |
| :---: | :---: | :---: | :--- |
{{#each properties}}
{{#expif access '!==' 'private'}}
| {{name}} | {{#each names}} *`{{this}}`* {{/each}} | {{defaultvalue}} | {{#if customTags}} {{#each customTags}} {{#expif tag '==' 'shortdescription'}} {{value}} {{/expif}} {{/each}} {{else}} {{description}} {{/if}} |
{{/expif}}
{{/each}}
{{/expif}}

_________________

{{/identifiers}}

<small><b>Last Updated:</b> {{now}}.</small>